.main{
    background: #611829;
}

.text--main{
    color: #611829;
}

.bg--green {
    background: #419D47;
}

.border--radius {
    border-radius: 10px;
}

.border--left {
    border-style: solid;
    border-width: 1px 1px 1px 8px;
    border-color: #419D47;
}

.border--right {
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #EEEEEE;
}

.title--tab {
    background: #EEEEEE;
}
.border--title {
    border-radius: 7px 7px 0px 0px;
}

.border--2 {

    border-width: 0 0 2px 0;
    border-style: solid;
    border-color: #EEEEEE;
}

.hand{
    cursor: pointer;
}

.loading{
    color: white;
    padding-top: 50px;
  }