<section id="home" class="mt-5">
  <div class="container main border--radius">
    <div class="row text-white py-2">
      <div class="col-xl-12">
        <p class="mb-0 text-uppercase font-weight-bolder">
          produtos
          <a href="#" class="ml-1 text-white"><mdb-icon fas icon="search"></mdb-icon></a>
          <span class="float-right">
            <a href="#" class="mr-1 text-white"><mdb-icon fas icon="list"></mdb-icon></a>
            <a href="#" class="mr-3 text-white"><mdb-icon fas icon="expand"></mdb-icon></a>
            <a href="#" class="mr-0 text-white"><mdb-icon fas icon="angle-down"></mdb-icon></a>
          </span>
        </p>
      </div>
    </div>
    <div class="bg-white p-2 border--radius">
      <ul class="nav justify-content-center py-4 text-uppercase mb-3">
        <li class="nav-item">
          <a class="btn btn-outline-success rounded-pill" href="#!">frutas</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-danger rounded-pill" href="#!">massas</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-warning rounded-pill" href="#!">carnes</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-primary rounded-pill" href="#!">laticínios</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-grey rounded-pill" href="#!">bebidas</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-dark rounded-pill" href="#!">cereais</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-main rounded-pill" href="#!">leguminosas</a>
        </li>
      </ul>
      <div class="row">
        <br>
        <div class="col-xl-6">
          <div class="px-2 py-3 bg--green border--radius">
            <p class="mb-0 pb-2 text-uppercase font-weight-bolder text-center text-white">produtos</p>
            <div class="bg-white py-4 px-3 border--radius overflow">
              <div class="row">
                <div class="col-md-6 mb-3" *ngFor="let i of produtos">
                  <div class="rounded p-2 border--left hand" (click)="onMercado(i.id)">
                    <h6 class="font-weight-bold text-uppercase">
                      {{i.product_name}}
                      <span class="float-right grey-text">
                        <i class="fas fa-info-circle mr-1"></i>
                      </span>
                    </h6>
                    <p class="mb-0 text-center">
                      <small class="text-muted text-uppercase">enviado em {{i.shipping_date | date: "dd/MM/yyyy"}}</small>
                    </p>
                    <p class="mb-0 text-center">
                      <small class="font-weight-bold text-uppercase" [ngClass]="{
                        'text-danger': i.status === 'em falta',
                        'text-success': i.status === 'em estoque',
                        'text-warning': i.status === 'pouco em estoque'
                      }">{{i.status}}</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <h6 class="text-center font-weight-bold text-uppercase">
            <span class="py-2 px-4 border--title title--tab">mercado</span>
          </h6>
          <div class="border--right p-3">
            <ngx-spinner bdOpacity = 1 bdColor = "#333" size = "medium" color = "#fff"
              type = "ball-clip-rotate-pulse" [fullScreen] = "false">
              <p style="color: white" > Só espere um segundo... </p>
            </ngx-spinner>
            <h4 class="text-uppercase text-center pt-2 font-weight-bold" *ngIf="!mercado">Sem informação</h4>
            <div class="row pt-3 pb-2 border--2" *ngFor="let m of mercado | sort: 'quantity_in_store'">
              <div class="col-md-2">
                <mdb-icon size='3x' class="text--main pl-2" fas icon="user-circle"></mdb-icon>
              </div>
              <div class="col-md-10">
                <p class="mb-0">
                  <small class="text-uppercase">
                    {{m.store}}
                    <span class="float-right font-weight-bold">{{m.quantity_in_store * 100 | number}}%</span>
                  </small>
                </p>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped" [ngClass]="{
                    'bg-danger': m.quantity_in_store <= 0.1,
                    'bg-warning': m.quantity_in_store > 0.1,
                    'bg-success': m.quantity_in_store > 0.21
                  }" role="progressbar" [style.width]="m.quantity_in_store*100 + '%'" aria-valuenow="10" 
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>
</section>